.toolbar-layout {
    position: relative;
    border-bottom: 2px solid var(--yellow);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--smallest);
    .left-side-buttons {
        display: flex;
        flex-direction: row;
        gap: var(--smallest);
    }
    .clickable {
        font-size: var(--smaller);
        width: max-content;
        font-weight: bold;
        font-family: 'Adder';
        letter-spacing: 0.3rem;

        padding: 0.3rem 0.3rem 0 0.3rem;
        background-color: var(--yellow);
        color: black;
        border: 2px solid hsl(55, 100%, 30%);
        border-right-width: 4px;
        border-left: none;
        border-bottom: none;
    }
}

@media only screen and (min-width: 425px) {
    .toolbar-layout {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    .toolbar-layout {
        flex-direction: row;
        justify-content: space-between;
        .clickable {
            font-size: var(--small);
        }
    }
}
