<span class="grimm-layout">
  <header>
    <h1 class="neon-text">
      VAST GRIMM
    </h1>
  </header>
  <div class="grimm-body-layout">
    <div class="grimm-body">
      <div class="grimm-card">
        <div class="card-header">
          <div class="card-title clickable">
            clickable card title
          </div>
        </div>
        <div class="card-body">
          <div class="skew">Lorem ipsum odor amet, consectetuer adipiscing elit. <span class="info clickable">Venenatis placerat vitae</span>; orci curabitur faucibus ultrices. Lobortis aenean amet ridiculus ultricies auctor curabitur mauris. Integer curabitur ornare facilisis nibh a suspendisse. Ultrices facilisis venenatis penatibus montes quisque hac tristique et. Congue semper maecenas litora porttitor rutrum vivamus facilisis. Sollicitudin commodo litora sociosqu quis malesuada volutpat per consectetur pharetra. Pretium netus ligula tristique interdum viverra ac curae.</div>
        </div>
      </div>

    </div>
  </div>
</span>