<span class="grimm-layout">
  <header>
    <h1 class="neon-text">
      VAST GRIMM
    </h1>
  </header>
  <div class="grimm-body-layout">
    <div class="grimm-body">
      <app-toolbar
        class="toolbar"
        (printEmitter)="print()"
        (extraClassesEmitter)="enableExtraClasses($event)"
      ></app-toolbar>
      <app-grimm-abilities
        class="abilities"
        [currentJob]="currentJob"
      >
      </app-grimm-abilities>
      <app-grimm-identity
        class="identity"
        [currentJob]="currentJob"
      >
      </app-grimm-identity>
      <app-grimm-job
        class="job"
        [currentJob]="currentJob"
        (newJobEmitter)="getNewJob()"
        (devoutWurmEmitter)="getWurmForEquipment($event)"
      >
      </app-grimm-job>
      <app-grimm-equipment
        class="equipment"
        [currentJob]="currentJob"
        [devoutWurm]="devoutWurm"
      >
      </app-grimm-equipment>
    </div>
  </div>
  <footer>
    <div>
      Vast Grimm is an independent production by Creature Curation and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
    </div>
    <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
    <div>Get more content at <a target="_blank" href="https://vastgrimm.com">vastgrimm.com</a> || Web app by <a target="_blank" href="https://artliches.github.io/dungeonsandcoding/">codeLiches</a></div>
    <div>v0.91: Paper trail</div>
  </footer>
</span>
