<span class="grimm-layout">
  <header>
    <h1 class="neon-text">
      VAST GRIMM
    </h1>
  </header>
  <div class="grimm-body-layout">
    <div class="grimm-body">
      <app-toolbar
        class="toolbar"
        (printEmitter)="print()"
      ></app-toolbar>
      <app-grimm-abilities
        class="abilities"
        [currentJob]="currentJob"
      >
      </app-grimm-abilities>
      <app-grimm-identity class="identity"></app-grimm-identity>
      <app-grimm-job
        class="job"
        [currentJob]="currentJob"
        (newJobEmitter)="getNewJob()"
      >
      </app-grimm-job>
      <app-grimm-equipment
        class="equipment"
        [currentJob]="currentJob"
      >
      </app-grimm-equipment>
    </div>
  </div>
  <footer>
    <div>
      Vast Grimm is an independent production by Infinite Black and Creature Curation and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
    </div>
    <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
    <div>Web app by codeLiches</div>
    <div>v0.51: Something slithers...</div>
  </footer>
</span>
