@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.grimm-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    height: 100vh;
    grid-gap: var(--smaller);

    .grimm-body-layout {
        width: 100%;
        display: flex;
        flex-direction: column;

        .grimm-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--smallest);
            :nth-child(n + 3) {
                margin-top: 1.3rem;
            }
            :last-child {
                margin-bottom: 1.3rem;
            }
        }
    }
}

header {
    h1 {
        font-family: 'RubikGlitch';
        letter-spacing: 2rem;
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
    }
}

footer {
    border-top: 2px solid var(--yellow);
    place-self: end center;
    font-size: var(--small);
    text-align: center;
    padding: var(--smaller) 0;

    @include flex-column(var(--small));
}

@media only screen and (min-width: 375px) {
    header {
        h1 {
            font-size: 3rem;
        }
    }
}

//SMALL LAPTOP
@media only screen and (min-width: 1024px) {
    header {
        h1 {
            font-size: 4.5rem;
        }
    }

    .grimm-layout {
        footer {
            max-width: 95%;
        }
        .grimm-body-layout {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "body";
            .grimm-body {
                grid-area: body;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: max-content;
                grid-gap: 0.5rem;
                .toolbar {
                    grid-area: 1 / span 2;
                }
                .abilities {
                    grid-area: 2 / span 2;
                }
                .identity {
                    grid-area: 3 / 1;
                }
                .job {
                    grid-area: 3 / 2;
                }
                :nth-child(n + 2) {
                    margin: 0 0 1.3rem 0;
                }
                :nth-child(2n) {
                    padding-left: var(--small);
                }
                :nth-child(3n) {
                    padding-right: var(--small);
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .grimm-layout {
        .grimm-body-layout {
            display: grid;
            grid-template-columns: 1fr 65% 1fr;
            grid-template-areas:
                ".  body    .";
            .grimm-body {
                :nth-child(n + 2) {
                    padding: 0;
                }
            }
        }
        footer {
            max-width: 65%;
        }
    }
}