@mixin flex-column($gap: var(--smaller)) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.card-body {
    @include flex-column();
    :nth-child(odd) {
        transform: rotate(-0.5deg);
    }
    :nth-child(even) {
        transform: rotate(0.5deg);
    }
    .descrip {
        font-size: var(--small);
    }
    
    .extras {
        @include flex-column();
        border: 1px dotted black;
        padding: var(--smallest);
    }

    .skillz {
        strong {
            margin-right: var(--smallest);
        }
    }
}