<div class="grimm-card-container">
    <div class="grimm-card">
        <div class="card-header">
            <div (click)="emitNewJob()" class="clickable card-title">
                {{currentJob.name}}
            </div>
            @if (showClownButton) {
                <div (click)="toggleClownMode()" class="clickable clown-mode">
                    @if (clownModeActive) {
                        <img src="../../../public/clown_smile.png" alt="">
                    } @else {
                        <img src="../../../public/clown_frown.png" alt="">
                    }
                </div>
            }
        </div>
        <div class="card-body">
            <em class="descrip"><span [innerHTML]="currentJob.descrip"></span></em>
            @if (currentJob.extras.length > 0) {
                <div class="extras">
                    @for (extra of currentJob.extras; track $index) {
                        <span [innerHTML]="extra"></span>
                    }
                </div>
            }
            <div class="details">
                <strong (click)="rerollDetail()" class="clickable info">{{ currentJob.details.title }}</strong>
                <div [innerHTML]="displayedJob.detail"></div>
            </div>
            @if (displayedJob.skillz.title && displayedJob.skillz.descrip) {
                <div class="skillz">
                    <strong (click)="rerollSkillz()" class="clickable info">{{ displayedJob.skillz.title }}</strong>
                    @if (currentJob.name === 'The Harvester') {
                        <span (click)="rerollWurm()" [innerHTML]="displayedJob.skillz.descrip"></span>
                    } @else {
                        <span [innerHTML]="displayedJob.skillz.descrip"></span>
                    }
                </div>
            }
            @if (currentJob.skillzTable) {
                <div class="skillz-table">
                    <strong class="underline">{{ currentJob.skillzTable.title }}</strong>
                    <em><span [innerHTML]="currentJob.skillzTable.descrip"></span></em>
                    <ol>
                        @for (data of currentJob.skillzTable.table; track $index) {
                            <li>
                                <strong>{{ data.title }}.</strong>
                                <span [innerHTML]="data.descrip"></span>
                            </li>
                        }
                    </ol>
                </div>
            }
        </div>
    </div>
</div>
