<div class="flex-column">
    <div class="grimm-card-container">
        <div class="grimm-card">
            <div class="card-header">
                <div class="clickable card-title">identity</div>
            </div>
            <div class="card-body">
                Lorem ipsum odor amet, consectetuer adipiscing elit. Phasellus eget lacinia vulputate sit taciti tempor morbi, nostra maecenas. Hendrerit elementum facilisis augue volutpat praesent. Quam dapibus semper viverra mauris cras efficitur hendrerit placerat arcu. Massa vestibulum libero lacus auctor cras senectus consequat commodo proin. Fringilla venenatis fames quam volutpat lorem vivamus aptent tempor.
            </div>
        </div>
    </div>
    
    <div class="grimm-window-card">
        <div class="grimm-window-inner">
            <div class="grimm-window-header">
                <span (click)="toggleData()" class="clickable deco"><strong>-</strong></span>
                <span data-text="IDENTITY" class="header clickable">identity</span>
            </div>
            @if (showData) {
                <div class="grimm-window-data">
                    <span class="skew">Lorem ipsum odor amet, consectetuer adipiscing elit. <span class="clickable info">Phasellus eget lacinia</span> vulputate sit taciti tempor morbi, nostra maecenas. Hendrerit elementum facilisis augue volutpat praesent. Quam dapibus semper viverra mauris cras efficitur hendrerit placerat arcu. Massa vestibulum libero lacus auctor cras senectus consequat commodo proin. Fringilla venenatis fames quam volutpat lorem vivamus aptent tempor.</span>
                </div>
            }
            <div class="grimm-window-footer">
                <div class="grimm-scroller">
                    <ul aria-hidden="true">
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                    </ul>
                    <ul aria-hidden="true">
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                        <li><strong> WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? WHO ARE YOU? </strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- <div class="grimm-scroller">
            <ul aria-hidden="true">
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
            </ul>
            <ul aria-hidden="true">
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
                <li><strong>|| MAnchiNe || MAnchiNe || MAnchiNe || MAnchiNe </strong></li>
            </ul>
        </div> -->
